body {
  font-size: 25px;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(/grass.jpg);
}

/* title of  game */
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 40pt;
  font-weight: bold;
  text-align: center;
  color: rgb(212, 221, 35);
}

/* start button editing */
#start {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85); */
  cursor: pointer;
  /* display: flex; */
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 630;
  /* line-height: 1.25; */
  /* margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  transition: all 250ms;
  user-select: none; */
}
/* .button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.button-6:hover {
  transform: translateY(-1px);
}
.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
} */

/* Scorekeeper */
.score {
  display: flex;
  justify-content: center;
  padding: 0px;
  border-radius: 1%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 40pt;
  font-weight: bold;
  color: white;
}

/* to edit "remaining time" */
p, .timer {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color:rgb(212, 221, 35);
}


#playAgain {
  display: flex;
  justify-content: center;
}

/* styling the grid divs as mole holes */
.moleGrid {
  display: grid;
  grid-template-columns: 105px 105px 105px;
  grid-template-rows: 105px 105px 105px;
  grid-gap: 40px;
  justify-content: center;
  cursor: url(/mallet1.png), auto;
}

/* Styling the mole holes */
.hole {
  padding: 10px;
  border-radius: 50%; /*this turns the div squares into circles*/
  position: relative; /*to keep the mole hill in its relative place*/
  overflow: hidden; /*this will hide the overflow of the mole when going back into molehill*/
  box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
    inset 0 20px 20px 15px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(165, 85, 11);
}

/* Styling the mole images */
.hole .moles {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* initially hidden */
  transition: opacity 0.3s ease-in-out; /* effect to ease in and out */
}

/* Add the 'active' class to make the mole visible */
.hole.active .moles {
  opacity: 100;
}